.container {
  border: 20px solid red;
  background-color: pink;
  width: 380px;
  /* height: 250px; */
  /* pehly nornal border lagana he  */
  border: 1px solid red; 
  /* repeat 
  round 
  strech */
  border-image: url() 65 65 65 65 repeat;
  padding: 50px;
  text-align: left;
  /* margin: 20px; */
  margin: 30px auto;
  box-shadow: inset -10px -10px 10px #008000;
  box-shadow: 0px 0px 50px #008000;
}

/* .container {
  border-radius: 10px 20px 70px 70px / 70px 30px 70px 90px;
  border-top-right-radius: 50px;
} */
/* h2{
  background-color: pink;
  display: inline-block;
} */
